.header-green {
  color:  #376551;
}

.landing-green-background {
  background-color: #00502F;
  color: white;
  padding-top: 20px;
}

.landing-white-background {
  background-color: white;
  color: #00502F;
  padding-top: 20px;
}

.list-of-company-header {
  padding-top: 40px !important;
}

.ui.two.buttons {
  margin-top: 20px;
  background-color: #00502F;
}

.edit.link {
  text-decoration: none;
  color: white;
  font-size: 20px;
}