.header-green {
  color:  #376551;
}

.landing-green-background {
  background-color: #00502F;
  color: white;
  padding-top: 20px;
}

.landing-white-background {
  background-color: white;
  color: #00502F;
  padding-top: 20px;
}